/* Variables */
:root{
    --prColor:#df8d2f;
    --seColor: #f0c23c;
    --colorWhite: #fff;

}
h3{
    color: #df8d2f;
}
/* Ocultar btn email */
#mail{
    display: none;
}
/*Reutilizables*/
.txt-justify{
    text-align: justify;
}
.btn-pri{
    background: var(--prColor);
    color: #fff;
}
.mxwd-txt{
    max-width: 800px;
    margin: auto;
}
.center{
    margin: auto;
}
.bg-main{
    background: var(--prColor);
    color: var(--colorWhite);
    margin: 0 auto;
    padding: 10px;
    text-align: center;
}
/* padding */
.pdding-40{
    padding: 40px 10px;
}
.pdl-3{
    padding: 0px 30px 0px 30px;
}
.pd-3{
    padding: 30px;
}
/* Margin */
.mgt-5{
    margin-top: 50px;
}
.mgt-2{
    margin-top: 20px;
}
/* Se agrego este fragmento */

.row-flex{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}
.bg-orange{
    background: #f0c23c;
    color: #fff;
   }
.c-orange{
     color: var(--colorWhite);
   }

/* alinea a los extremos izquierda y derecha */
.txt-j{
    text-align: justify;
}
.txt-c{
    text-align: center;
}
.spce-b{
    display: flex ;
    justify-content: space-between ;
    align-items: center; /* ultima linea que se agrego */
}
/* alinea al centro  */

.spce-c{ 
    display: flex ;
    justify-content: center ;
}
.spce-a{
    display: flex ;
    justify-content: space-around ;
}
.spce-h{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }
  .fila{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;

  }
.title-center::before{
    content: '';
    position: absolute;
    width: 100%;
    bottom: -5px;
    height: 5px;
    background: #f0c23c;

}
.box{
    padding: 10px;
    display: flex;
    flex-direction: column;
}
/* Grid System */
.grid-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
@media only screen and (max-width: 730px) {
    .grid-2{
        display: block;
    }
  }
  /* li{
      display: inline-block;
  } */
/* Menu hamburguesa */
.btn-custom{
    padding: 2px 2px;
    height: 50px;
}
.menuBurger{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}
.b-bar{
    width: 30px;
    height: 2px;
    background-color: grey;
    margin: 5px;
}
.activo.b-bar:nth-child(2){
    animation: bar 1s linear;
    transform: translateX(50px);
}
.activo.b-bar:nth-child(1){
    animation: bar2 1s linear;
    transform: translateY(12px) rotate(45deg);
}
.activo.b-bar:nth-child(3){
    animation: bar3 1s linear;
    transform: translateY(-12px) rotate(-45deg);
}
@keyframes bar{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(50px);
        opacity: .5;

    }
}
@keyframes bar2{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(12px) rotate(45deg);
    }
}
@keyframes bar3{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-12px)rotate(-45deg);
    }
}
@media only screen and (max-width: 710px) {
.title-center::before{
    max-width: 230px;
    
    }
  }
.content-titles {
    position: relative;
}
/* animation navbar */
.styckyNavDown{
    position: fixed;
    width: 100%;
    z-index: 100;
    animation: slideDown 1s;
    /* overflow: hidden; */
}
@keyframes slideDown{
    0%{
        height: 0;
    }
    100%{
        height: 10%;
    }
}
.styckyNavUp{
    position: fixed;
    width: 100%;
    z-index: 100;
    height: 92px;
    /* overflow: hidden; */
    transition: 1s;
}
.espacio92{
    display: none;
    width: 100%;
    height: 92px;

}

@media only screen and (max-width: 710px) {
    .card-deck .card { 
      flex: 2 100 33.3% ;
      flex-direction: column;
      margin-bottom: 40px;
    }
  }

nav{
    box-shadow: 0px 1px 5px 0px #2125293d;
}
.pr{
    position: relative;
}

/* Carrusel */
.sombra{
    padding: 10px;
    background: #00000075;
}
  /* HUEVO */
  img.p-alimentos{
      width: 100% ;
      max-width: 600px;
      max-height: 400px;
      margin: auto;
  }
  ul{
      list-style: none;
  }
  /* ul li {
      font-weight: bold;
  } */
  .quitarCopyright{
      display: none !important;
  }

  /*bolsa*/
  .form-g{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .content-general{
      width: 100%;
      height: auto;
      min-height: 60vh;
  }
  .contenedor-items{
      padding: 10px;
      width: 80%;
      height: auto;
      min-height: 10vh;
      background: #eaeae9;
      margin: auto;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 10px;
  }
  .item{
      background: #fff;
      padding: 10px;
      overflow: hidden;
  }
  
  .item::before{
      color:#fff;
  }
  .itemFixed{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    height: auto;
    z-index: 100;
  }
  @media only screen and (max-width: 750px) {
    .contenedor-items {
        grid-template-columns: 1fr 1fr;
    }
  }
  @media only screen and (max-width: 600px) {
    .contenedor-items {
        grid-template-columns: 1fr;
    }
  }

  @media only screen and (max-width: 1190px) {
    .navbar-brand {
        margin: auto;
    }
  }

  /* Estilos para los items de comida */
.flex-horizontal{
      display: flex;
  }
.descripcion{
    visibility: hidden;
    transition: 1s;
    opacity: 0;
    transform: translateX(-300px);
    height: 0;
}
.headerItem{
    display: flex;
    justify-content: space-between;
}
.btnCerrar{
    display: none;
    padding: 5px 10px;
    background: #FF9800;
    border-radius: 5px;
    margin-bottom: 10px;
    color: #fff;
    height: 37px;
}
.cerrar{
    display: block;
    cursor: pointer;
}
.ocultar{
    visibility: visible;
    transform: translateX(0);
    height: auto;
    opacity: 1;
    margin-left: 20px;
}
.contentPreparacion{
    margin-left: 30px;
}
@media only screen and (max-width: 720px) {
    .contentPreparacion {
        margin-left: 0;
    }
    .itemFixed{
        font-size: 13px;
    }
    .flex-horizontal{
        flex-direction: column;
    }
    .imgScala {
        width: 60% !important;
    }

  } 
.preparacion{
    overflow: hidden;
    display: none;
    max-width: 450px;
    text-align: justify;
}
.mostrar{
    visibility: visible;
    display: flex;
    
}

@media only screen and (max-width: 720px) {
    img.p-alimentos {
        max-height: 160px;
    }
    .box{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
  }

  img{
    max-height: 580px !important;
  }

  .footer-copyright{
      display: flex;
      justify-content: space-around;
}

.txt-just{
    text-align: justify
}
.nav-item{
    cursor: pointer;
}

.posFix{
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 100;
}
.sizeOfHeader{
    width: 100%;
}

@media only screen and (max-width: 720px) {
    .img-100{
        max-width: 100%;
        width: 100%;
    }
  }
  @media only screen and (min-width: 720px) {
    .img-100{
        width: 49%;
    }
  }

/* Para posicionar el footer */

/* html {
    min-height: 100%;
    position: relative;
  }
  body {
    margin: 0;
    margin-bottom: 40px;
  }
  footer {
    background-color: black;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: white;
  } */
 
 